.taskButtons {
  display: flex;
  justify-content: flex-end;
}
.editButton {
  margin-right: 10px;
}
.statusButton{
  margin-right: 10px;
}
.taskCheckbox input {
  cursor: pointer;
}
.taskCheckbox {
  margin-bottom: 10px;
}
.textShorter{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 18px;
}