.textInput,
.message {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  max-width: 500px;
}
.submit {
  padding: 10px;
  border: none;
  cursor: pointer;
  max-width: 200px;
}
.errorMessage,  .invalid{
  border: 1px solid #f00;
  max-width: 500px;
  border-radius: 20px;
}